@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    background-color: #FAF9F6;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 12vh;
    background-color: #fff;
    padding: 15px;
    flex-wrap: wrap;
}
.nav>h1{
    letter-spacing: 5px;
    font-size: 23px;
}
.nav-sect2{
    display: flex;
    gap: 20px;
}
.nav-sect2>a{
    text-decoration: none;
    color: #000;
    font-weight: 400;
}
.nav-icons{
    display: flex;
    gap: 20px;
}